<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  <package id="firefox" />
  <package id="7zip" />
  <package id="notepadplusplus" />
  <package id="git" />
  <package id="ccleaner" />
  <package id="nodejs" />
  <package id="sysinternals" />
  <package id="openssh" />
  <package id="filezilla" />
  <package id="curl" />
  <package id="atom" />
  <package id="visualstudiocode" />
  <package id="azure-cli" />
  <package id="chocolateygui" />
  <package id="microsoft-build-tools" />
  <package id="github" />
  <package id="cmder" />
  <package id="gitkraken" />
  <package id="KeePass" />
  <package id="LinqPad" />
  <package id="ILSpy" />
</packages>